/* SignUp.module.css */

.form {
  max-width: 600px; /* กำหนดขนาดความกว้างที่ต้องการ */
  width: 100%; /* ให้ฟอร์มยืดเต็มความกว้างที่กำหนด */
  margin: 3rem auto; /* กึ่งกลางหน้าจอ */
  display: flex;
  flex-direction: column;
  padding: 0; /* ลบ padding ในกรณีที่ไม่ต้องการ container รอบนอก */
  gap: 1rem;
}

.formError {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.formLabel {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.formInput {
  width: 100%; /* ยืดเต็มความกว้างของฟอร์ม */
  padding: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formInput::placeholder {
  color: #aaa;
}

.signUpButton {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signUpButton:hover {
  background-color: #45a049;
}

/* Toggle button styles for "LOG IN" and "CREATE AN ACCOUNT" */
.toggleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.toggleButton {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #666;
}

.toggleButton.active {
  color: #4caf50;
  border-bottom: 3px solid #4caf50;
  padding-bottom: 0.5rem;
}
